div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 25px;
  padding: 2px;
}

div.cardTitle {
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px;
  font-size: 110%;
  border-bottom: 1px solid #aaa;
}

div.container {
  margin-top: 5px;
  padding: 2px 16px;
}
