footer {
    height: 25px;
    background: rgb(0, 204, 126);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;

    p.thanks {
        color: white;
        background: rgb(0, 204, 126);
    }
}